.contact-page {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.contact-form {
    margin-bottom: 2rem;
}

.p-field {
    margin-bottom: 2rem;
    
}

.contact-info {
    margin-top: 2rem;
}

.contact-details {
    margin-top: 1rem;
}
